[Unit]
Description = Nevergreen Production 2

[Service]
Environment = "PORT=3001"
Type = simple
ExecStart = /usr/bin/java -jar /home/nevergreen/deploy/production/nevergreen-standalone.jar

[Install]
WantedBy = multi-user.target